#!/usr/bin/make -f

PRG=chimerascan-vrl
VER=0.4.5a
BIN_LIST=chimerascan_html_table.py \
         chimerascan_index.py \
         chimerascan_run.py \
         gtf_to_genepred.py \
         make_false_positive_file.py
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
PKG_LIB_DIR=/usr/lib/$(PKG)
BIN_WRAPPER=\
'\#!/bin/sh\n'\
'export PYTHONPATH="$(PKG_LIB_DIR)/lib/python2.6/site-packages:$$PYTHONPATH"\n'\
'export PATH="$(PKG_LIB_DIR)/bin:$$PATH"\n'\
'exec "$$@"'

%:
	dh $@

override_dh_auto_build:
	python2.6 setup.py build

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin $(DEB_DIR)$(PKG_LIB_DIR)/bin
	python2.6 setup.py install --prefix=$(DEB_DIR)$(PKG_LIB_DIR)
	echo $(BIN_WRAPPER) | sed 's/^ *//' > $(DEB_DIR)/usr/bin/$(PKG);\

override_dh_strip:
	echo "Do not create a *dbgsym*.ddeb package."
